body{
  background-color: #B2F0EF;
}

.navBar{
  position: relative;
}
.navBarRight{
  position: absolute;
  right: 10px;

}

.modal, .form{
  padding: 20px;
}

.field{
  margin: 20px;
}

.footer{
  margin-top: 3rem;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f7f7f7;
}